@import url(/styles/desktop.css);
@import url(/styles/tablet.css);
@import url(/styles/mobile.css);

* {
    font-family: sans-serif;
}

:root {
    --main-color: #e30613;
}

img,
video {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: #333;
    text-decoration: none;
    font-size: inherit;
}

nav {
    font-size: 18px;

    a {
        text-transform: capitalize;
    }

    .active {
        color: var(--main-color);
    }
}

.logo {
    cursor: pointer;
}

#banner-video {
    position: relative;
    max-height: 70vh;


    .filter-video {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        z-index: 100;
        position: absolute;
    }

    #bgvid,
    #bgvid1 {
        width: 100%;
        object-fit: cover;

    }

    #bgvid {
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        max-height: 70vh;
        background: transparent no-repeat;
        display: block;
    }

    .texton {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-weight: 700;
    }


}

#instroduce {
    scroll-margin-top: 15rem;
    font-size: 15px;
    font-weight: normal;
}

#mainCarouselFade {
    .carousel-item {
        * {
            height: 45vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%
        }

        #main-img {
            background-image: url(../resourses/imgs/main/@main_visual01.jpg);

        }

        #img-2 {
            background-image: url(../resourses/imgs/main/02-carousel.png);
        }

        #img-3 {
            background-image: url(../resourses/imgs/main/03-carousel.png);
        }

        #img-4 {
            background-image: url(../resourses/imgs/main/04-carousel.jpg);
        }
    }
}

#opportunity {

    // scroll-margin-top: 15rem;
    .col {
        p {
            margin: 1rem 0;
        }

    }

    .lead {
        color: var(--main-color);
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
            text-decoration: underline var(--main-color);
        }
    }
}

#contact {
    position: fixed;
    z-index: 101;
    bottom: 1.25rem;
    right: 1.25rem;
}

footer {
    a {
        font-size: 1.25rem;
        color: orange;
        text-decoration: none;
    }
}

.showDialogD {
    color: #fff;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    font-weight: 800;

    &:hover {
        color: #333;
        background-color: #fff;
        cursor: pointer;
    }
}

.my-6 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.fs-7 {
    font-size: 5rem;
}

.text-main {
    color: var(--main-color);
}

.bg-main {
    background-color: var(--main-color);
}